<%- include ('partials/header.ejs'); -%>
<div class="col-page-spacer">
    <div class="row">
        <% if (images.length > 0) {%>
            <div class="col">
                <% imgCol1.forEach((image, index) => { %>
                    <!-- <img src="/img/<%= image.img_name %>" class="" alt="Collection"> -->
                    <figure class="figure img-bot">
                        <img src="/img/<%= image.img_name %>" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">A caption for the above image.</figcaption>
                    </figure>
                <% }) %>
            </div>
            <div class="col">
                <% imgCol2.forEach((image, index) => { %>
                    <img src="/img/<%= image.img_name %>" class="" alt="Collection">
                <% }) %>
            </div>
            <div class="col">
                <% imgCol3.forEach((image, index) => { %>
                    <img src="/img/<%= image.img_name %>" class="" alt="Collection">
                <% }) %>
            </div>
        <% } else { %>
            <p class="text-center">No images found.</p>
        <% } %>
    </div>
</div>
<%- include ('partials/footer.ejs'); -%>
